numpy==1.22.4
opencv-python==4.5.5.64
matplotlib==3.5.2
openpyxl==3.0.10
pandas==1.3.5
Pillow==9.1.1
scikit-learn==1.1.1
scipy==1.8.1
tqdm==4.64.0
ipython==8.3.0
xlsxwriter==3.0.3
imutils==0.5.4
ffmpeg-python==0.2.0
supervisely==6.60.2
scikit-image==0.19.3
joblib==1.1.0